@media (max-width: 990px) {
      .team{
            &-content{
                  flex-direction: column;
            }
      }
}
@media (max-width:900px) {
      .firm{
            &-content{
                  flex-direction: column;
                  text-align: center;
                  align-items: center;
                  gap: 25px;
            }
            &-left{
                  padding-left: 0;
                  text-align: center;
            }
            &-right{
                  .person{
                        justify-content: center;
                  }
            }
      }
}

@media (max-width: 790px) {
      .nav{
            &-links{
                  display: none;
            }
            &-left{
                  .bars{
                        display: block;
                  }
            }
      }
      .prior{
            &-content{
                  flex-direction: column;
                  gap: 45px;
                  align-items: center;
            }
            &-right{
                  padding: 0;
            }
      }
      .touch{
            &-content{
                  flex-direction: column;
                  gap: 25px;
                  align-items: flex-start;
            }
      }
}
@media (max-width:540px) {
      .hero{
            &-left{
                  span{
                        color: #fff;
                  }
                  h1{
                        color: #fff;
                        font-size: 34px;
                        line-height: 50.4px;
                  }
                  p{
                        color: #fff;
                        font-size: 14px;
                  }
                  button{
                        color: #fff;
                  }
            }
      }
      .footer{
            &-content{
                  flex-direction: column;
                  align-items: flex-start;
            }
      }
}
@media (max-width: 480px) {
      .proces{
            &-content{
                  .text{
                        h1{
                              font-size: 24px;
                        }
                  }
            }
      }
      .projects{
            &-content{
                  .title{
                        h1{
                              font-size: 24px;
                        }
                        p{
                              font-size: 16px;
                        }
                  }
            }
      }
      .touch{
            &-content{
                  .text{
                        h1{
                              font-size: 24px;
                        }
                  }
            }
      }
}
@media (max-width: 460px) {
      .nav{
            position: relative;
            &-content{
                  flex-direction: column;
                  gap: 25px;  
            }
            &-left{
                  justify-content: space-between;
                  width: 100%;
            }
      }
      .prior{

            &-right{
                  padding: 0;
                  .item{
                        flex-direction: column;
                  }
            }
      }
}